.container-flex {
  display: flex;
  height: calc(100vh - 90px); }

.container-right {
  display: flex;
  flex: 1 0;
  width: calc(100% - 200px);
  background: radial-gradient(circle, #535353 0%, #212121 100%);
  flex-direction: column; }

.aside-box {
  display: flex;
  flex-direction: column;
  flex: 0 1 200px;
  background: #040404; }
  @media screen and (max-width: 463px) {
    .aside-box {
      flex: 0 1 60px; } }

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto; }

.player {
  height: 90px;
  background-color: #181818;
  position: fixed;
  bottom: 0;
  width: 100%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif; }

.aside {
  color: #b3b3b3;
  display: flex;
  background-color: #040404;
  flex: 0 0;
  flex-direction: column; }
  .aside-icons {
    height: 2rem; }
  .aside__logo {
    display: flex;
    flex: 1;
    align-items: center;
    padding-top: 2.4rem; }
    @media screen and (max-width: 463px) {
      .aside__logo {
        justify-content: center; } }
    .aside__logo .logo-big {
      height: 6rem;
      padding-left: 1.4rem; }
      @media screen and (max-width: 463px) {
        .aside__logo .logo-big {
          display: none; } }
    .aside__logo .logo-small {
      height: 3rem;
      display: none; }
      @media screen and (max-width: 463px) {
        .aside__logo .logo-small {
          display: block; } }
  .aside__menu-list {
    color: #fff;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0 0.8rem; }
    .aside__menu-list-items {
      display: flex;
      align-items: center;
      padding: 0 16px;
      margin-bottom: 1rem;
      height: 4rem;
      border-radius: 4px;
      cursor: pointer; }
      .aside__menu-list-items-home {
        margin-left: 1rem; }
        @media screen and (max-width: 463px) {
          .aside__menu-list-items-home {
            display: none; } }
  .aside__playlist {
    padding: 0 0.8rem; }
    .aside__playlist-heading {
      padding: 0 16px;
      font-size: 2.4rem;
      font-weight: 700;
      padding: 0 1.6rem;
      margin-top: 2rem; }
      @media screen and (max-width: 463px) {
        .aside__playlist-heading {
          display: none; } }
    .aside__playlist__add {
      display: flex;
      margin: 1rem 0;
      align-items: center;
      padding: 0 1.6rem; }
      @media screen and (max-width: 463px) {
        .aside__playlist__add {
          display: none; } }
      .aside__playlist__add-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: #000;
        height: 3.2rem;
        width: 3.2rem;
        background-color: #b3b3b3;
        padding: 0.4rem;
        margin-right: 1.6rem;
        cursor: pointer; }
      .aside__playlist__add-title {
        font-size: 1.4rem;
        cursor: pointer; }
    .aside__playlist-list {
      display: flex;
      flex-direction: column;
      list-style: none; }
      @media screen and (max-width: 463px) {
        .aside__playlist-list {
          display: none; } }
      .aside__playlist-list-items {
        display: flex;
        margin: 1rem 0;
        padding: 0 1.6rem;
        font-weight: 700;
        cursor: pointer; }

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 70px;
  cursor: pointer;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .header:hover {
    background-color: rgba(0, 0, 0, 0.3); }
  .header__btn {
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1.76px;
    margin-right: 1rem;
    transition: all .2s; }
    .header__btn:hover {
      transform: scale(1.1); }
    .header__btn:active {
      transform: scale(1); }
    .header__btn-button {
      text-decoration: none;
      color: #b3b3b3;
      padding: 1.5rem;
      border: 1.5px solid #fff;
      border-radius: 100px;
      transition: all .2s; }
      .header__btn-button:hover {
        background-color: #1db954;
        border: 1.5px solid #1db954;
        color: #fff;
        transform: scale(2); }

.nav-user {
  display: flex;
  flex: 1 1 5rem; }
  .nav-user__menu {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #b3b3b3; }
    @media screen and (max-width: 742px) {
      .nav-user__menu {
        display: none; } }
    .nav-user__menu-items {
      margin-right: 2rem;
      cursor: pointer;
      position: relative;
      transition: all .2s; }
      .nav-user__menu-items::before {
        content: "";
        position: absolute;
        bottom: -30%;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: #1db954;
        display: block;
        transition: all .3s; }
      .nav-user__menu-items:hover {
        color: #fff;
        transform: scale(1.2); }
      .nav-user__menu-items:hover::before {
        width: 100%; }
      .nav-user__menu-items:active {
        transform: scale(1.1); }

.music-menu {
  display: flex;
  flex: 0 1 100%;
  padding: 1.6rem 3.2rem 0;
  flex-direction: column; }

.recently-played {
  color: #fff; }
  .recently-played__heading {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 2rem 0; }
  .recently-played-author {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize; }
  .recently-played__cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    padding-right: 3.2rem; }
    .recently-played__cards-box {
      display: flex;
      flex-wrap: wrap; }
    .recently-played__cards-top {
      display: flex;
      position: relative;
      height: 20rem;
      cursor: pointer; }
      .recently-played__cards-top-img {
        height: 20rem;
        flex: 0 1; }
      .recently-played__cards-top-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all 0.2s cubic-bezier(0.76, 0.01, 0.29, 1.01); }
      .recently-played__cards-top:hover > .recently-played__cards-top-overlay {
        opacity: 1; }
  .recently-played-description {
    color: #b3b3b3;
    font-size: 1.4rem;
    font-weight: 700; }

.scelti__per-te {
  display: flex; }
  .scelti__per-te__cards {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .scelti__per-te__cards-top {
      cursor: pointer;
      position: relative;
      border-radius: 50%;
      color: #fff;
      overflow: hidden; }
      .scelti__per-te__cards-top:hover .scelti__per-te__cards-top-overlay {
        opacity: 1; }
      .scelti__per-te__cards-top-img {
        height: 20rem;
        border-radius: 50%; }
      .scelti__per-te__cards-top-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        position: absolute;
        width: 100%;
        height: 99%;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all 0.2s cubic-bezier(0.76, 0.01, 0.29, 1.01);
        border-radius: 50%; }

.player {
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .player-left {
    flex: 1;
    display: flex;
    align-items: center; }
    .player-left-pic {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      padding-right: 4rem; }
      .player-left-pic p {
        color: #fff;
        text-transform: capitalize;
        font-weight: 700; }
    .player-left img {
      height: 50px;
      width: auto;
      padding-right: 2rem; }
    .player-left-icons {
      color: #fff;
      font-size: 2rem; }
      .player-left-icons i {
        padding-right: 2rem;
        cursor: pointer; }
  .player-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex: 1 0 33.3333%; }
    .player-center__top {
      display: flex;
      font-size: 2rem;
      color: #fff; }
      .player-center__top i {
        cursor: pointer;
        padding-right: 1.5rem; }
    .player-center-bottom__scroll {
      width: 20%;
      height: 3px;
      background-color: red;
      align-self: center;
      margin-top: 2rem;
      position: relative;
      cursor: pointer; }
      .player-center-bottom__scroll-bar {
        position: absolute;
        width: 20%;
        height: 3px;
        background-color: blue;
        align-self: center;
        top: 0%; }
      .player-center-bottom__scroll-circle {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        align-self: center;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        transition: all .1s; }
      .player-center-bottom__scroll:hover .player-center-bottom__scroll-circle {
        display: block; }
  .player-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-end; }
    .player-right__content {
      display: flex; }
    .player-right i {
      font-size: 1.5rem;
      cursor: pointer;
      padding-right: 1.5rem;
      color: #fff; }
    .player-right__scroll-bar {
      width: 6rem;
      height: 3px;
      background-color: blue;
      align-self: center; }
