.container-flex {
  display: flex;
  height: calc(100vh - 90px); }

.container-right {
  display: flex;
  flex: 1 0;
  width: calc(100% - 200px);
  background: radial-gradient(circle, #535353 0%, #212121 100%);
  flex-direction: column; }

.aside-box {
  display: flex;
  flex-direction: column;
  flex: 0 1 200px;
  background: #040404; }
  @media screen and (max-width: 483px) {
    .aside-box {
      flex: 0 1 60px; } }

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto; }

.player {
  height: 90px;
  background-color: #181818;
  position: fixed;
  bottom: 0;
  width: 100%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif; }

.aside {
  color: #b3b3b3;
  display: flex;
  background-color: #040404;
  flex: 0 0;
  flex-direction: column; }
  .aside-icons {
    height: 2rem; }
  .aside__logo {
    display: flex;
    flex: 1;
    align-items: center;
    padding-top: 2.4rem; }
    @media screen and (max-width: 483px) {
      .aside__logo {
        justify-content: center;
        padding-top: 2rem; } }
    .aside__logo .logo-big {
      height: 6rem;
      padding-left: 1.4rem; }
      @media screen and (max-width: 483px) {
        .aside__logo .logo-big {
          display: none; } }
    .aside__logo .logo-small {
      height: 3rem;
      display: none;
      margin-left: .2rem; }
      @media screen and (max-width: 483px) {
        .aside__logo .logo-small {
          display: block; } }
  .aside__menu-list {
    color: #b3b3b3;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 1rem; }
    .aside__menu-list-items {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      height: 4rem;
      border-radius: 4px;
      transition: all .3s ease-in-out;
      cursor: pointer; }
      .aside__menu-list-items:hover {
        color: #fff; }
      .aside__menu-list-items-home {
        margin-left: 1rem; }
        @media screen and (max-width: 483px) {
          .aside__menu-list-items-home {
            display: none; } }
      .aside__menu-list-items::before {
        content: "";
        height: 0%;
        width: .3rem;
        background-color: #fff;
        margin-right: 2.4rem; }
        @media screen and (max-width: 483px) {
          .aside__menu-list-items::before {
            margin-right: 1.8rem; } }
      .aside__menu-list-items:hover::before {
        height: 100%;
        background-color: #1db954; }
  .aside .active::before {
    content: "";
    height: 100%;
    width: .3rem;
    background-color: #1db954;
    margin-right: 2.4rem; }
    @media screen and (max-width: 483px) {
      .aside .active::before {
        margin-right: 1.8rem; } }
  .aside__playlist {
    font-size: 1.2rem;
    padding: 0 0.8rem; }
    .aside__playlist-heading {
      padding: 0 16px;
      font-size: 2.4rem;
      font-weight: 700;
      padding: 0 1.6rem;
      margin-top: 2rem; }
      @media screen and (max-width: 483px) {
        .aside__playlist-heading {
          display: none; } }
    .aside__playlist__add {
      display: flex;
      margin: 1rem 0;
      align-items: center;
      padding: 0 1.6rem; }
      .aside__playlist__add i {
        transition: all .2s ease-out; }
      .aside__playlist__add:hover i {
        color: #fff;
        transform: scale(1.2); }
      @media screen and (max-width: 483px) {
        .aside__playlist__add {
          display: none; } }
      .aside__playlist__add-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: #000;
        height: 3.2rem;
        width: 3.2rem;
        background-color: #b3b3b3;
        padding: 0.4rem;
        margin-right: 1.6rem;
        cursor: pointer; }
      .aside__playlist__add-title {
        font-size: 1.4rem;
        cursor: pointer;
        font-weight: 700;
        cursor: pointer; }
    .aside__playlist-list {
      display: flex;
      flex-direction: column;
      list-style: none; }
      @media screen and (max-width: 483px) {
        .aside__playlist-list {
          display: none; } }
      .aside__playlist-list-items {
        display: flex;
        margin: 1rem 0;
        padding: 0 1.6rem;
        font-weight: 700;
        cursor: pointer; }
        .aside__playlist-list-items:hover {
          color: #fff; }
  .aside__user {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    flex: 1;
    padding: 0 24px;
    position: relative;
    color: #b3b3b3; }
    @media screen and (max-width: 483px) {
      .aside__user {
        display: none; } }
    .aside__user-install {
      flex: 1;
      display: flex;
      align-items: flex-end;
      border-bottom: 1px solid #b3b3b3;
      padding-bottom: 1rem; }
    .aside__user i {
      cursor: pointer;
      padding-right: 1.5rem;
      font-size: 1.5rem; }
      .aside__user i:hover {
        color: #fff; }
    .aside__user p {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 700;
      cursor: pointer; }
      .aside__user p:hover {
        color: #fff; }
    .aside__user-bottom-icon {
      display: flex;
      align-items: center; }
      .aside__user-bottom-icon p {
        padding-left: 1.5rem; }
    .aside__user img {
      height: 4rem;
      clip-path: circle();
      cursor: pointer; }

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 70px;
  cursor: pointer;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .header:hover {
    background-color: rgba(0, 0, 0, 0.3); }
  .header__btn {
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1.76px;
    margin-right: 1rem;
    transition: all .2s; }
    .header__btn:hover {
      transform: scale(1.1); }
    .header__btn:active {
      transform: scale(1); }
    .header__btn-button {
      text-decoration: none;
      color: #b3b3b3;
      padding: 1.5rem;
      border: 1.5px solid #fff;
      border-radius: 100px;
      transition: all .2s; }
      .header__btn-button:hover {
        background-color: #1db954;
        border: 1.5px solid #1db954;
        color: #fff;
        transform: scale(2); }

.nav-user {
  display: flex;
  flex: 1 1 5rem; }
  .nav-user__menu {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #b3b3b3;
    padding: 2rem 0; }
    @media screen and (max-width: 742px) {
      .nav-user__menu {
        display: none; } }
    .nav-user__menu-items {
      margin-right: 2.5rem;
      cursor: pointer;
      position: relative;
      transition: all .2s; }
      .nav-user__menu-items::before {
        content: "";
        position: absolute;
        bottom: -30%;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: #1db954;
        display: block;
        transition: all .3s; }
      .nav-user__menu-items:hover {
        color: #fff;
        transform: scale(1.2); }
      .nav-user__menu-items:hover::before {
        width: 100%; }
      .nav-user__menu-items:active {
        transform: scale(1.1); }

.active-2::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #1db954;
  display: block; }

.music-menu {
  display: flex;
  flex: 0 1 100%;
  padding: 1.6rem 3.2rem 0;
  flex-direction: column; }

.recently-played {
  color: #fff; }
  .recently-played__heading {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 2.4rem 0; }
    @media screen and (max-width: 483px) {
      .recently-played__heading {
        text-align: center; } }
  .recently-played-author {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize; }
  .recently-played__cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    padding-right: 3.2rem;
    padding-bottom: 3.9rem; }
    @media screen and (max-width: 483px) {
      .recently-played__cards {
        padding: 3.9rem 0 0 0; } }
    .recently-played__cards-box {
      display: flex;
      flex-wrap: wrap; }
      @media screen and (max-width: 483px) {
        .recently-played__cards-box {
          justify-content: center; } }
    .recently-played__cards-top {
      display: flex;
      position: relative;
      height: 20rem;
      cursor: pointer; }
      .recently-played__cards-top-img {
        height: 20rem;
        flex: 0 1; }
      .recently-played__cards-top-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all 0.2s cubic-bezier(0.76, 0.01, 0.29, 1.01); }
      .recently-played__cards-top:hover > .recently-played__cards-top-overlay {
        opacity: 1; }
    .recently-played__cards-bottom {
      padding-top: 1.7rem; }
  .recently-played-description {
    color: #b3b3b3;
    font-size: 1.4rem;
    font-weight: 700;
    padding-top: .9rem; }

.scelti__per-te {
  color: #fff; }
  .scelti__per-te__cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    padding-right: 3.2rem;
    padding-bottom: 3.9rem; }
    @media screen and (max-width: 483px) {
      .scelti__per-te__cards {
        padding-right: 0;
        padding-bottom: 3.9rem; } }
    .scelti__per-te__cards-bottom {
      padding-top: 1.7rem; }
    .scelti__per-te__cards-top {
      cursor: pointer;
      position: relative;
      border-radius: 50%;
      color: #fff;
      overflow: hidden; }
      .scelti__per-te__cards-top:hover .scelti__per-te__cards-top-overlay {
        opacity: 1; }
      .scelti__per-te__cards-top-img {
        height: 20rem;
        border-radius: 50%; }
      .scelti__per-te__cards-top-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        position: absolute;
        width: 100%;
        height: 99%;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all 0.2s cubic-bezier(0.76, 0.01, 0.29, 1.01);
        border-radius: 50%; }

.player {
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .player-left {
    flex: 1 1 30%;
    display: flex;
    align-items: center; }
    .player-left-pic {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      padding-right: 4rem; }
      @media screen and (max-width: 738px) {
        .player-left-pic {
          padding-right: 1rem; } }
      .player-left-pic p {
        color: #fff;
        text-transform: capitalize;
        font-weight: 700; }
    .player-left img {
      height: 50px;
      width: auto;
      padding-right: 2rem;
      flex: 1 1; }
      @media screen and (max-width: 463px) {
        .player-left img {
          padding-right: 0rem; } }
      @media screen and (max-width: 738px) {
        .player-left img {
          height: 20px;
          padding-right: .9rem; } }
    .player-left-icons {
      color: #fff;
      font-size: 2rem;
      flex: 1 1; }
      @media screen and (max-width: 556px) {
        .player-left-icons {
          flex: 0 1; } }
      .player-left-icons i {
        padding-right: 2rem;
        cursor: pointer;
        font-size: 1.5rem; }
        @media screen and (max-width: 738px) {
          .player-left-icons i {
            padding-right: .2rem; } }
        @media screen and (max-width: 379px) {
          .player-left-icons i {
            display: none; } }
  @media screen and (max-width: 556px) {
    .player #icon-responsive {
      display: none; } }
  .player-center {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex: 1 1 auto; }
    .player-center__top {
      display: flex;
      font-size: 1.5rem;
      color: #fff;
      flex: 1 1 40%; }
      .player-center__top i {
        cursor: pointer;
        padding-right: 2rem; }
        @media screen and (max-width: 723px) {
          .player-center__top i {
            padding-right: .7rem; } }
  .player-right {
    display: flex;
    flex: 1 1 30%;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-end; }
    .player-right__content {
      display: flex;
      flex: 1 1; }
    .player-right i {
      font-size: 1.5rem;
      cursor: pointer;
      padding-right: 1.5rem;
      color: #fff;
      display: block; }
    .player-right__scroll-bar {
      width: 6rem;
      height: 3px;
      background-color: blue;
      align-self: center; }

.slide-container {
  width: 75%;
  margin-top: 2rem; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: .5rem;
  background: linear-gradient(90deg, #d6d6d6 60%, #d6d6d6 60%);
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  border-radius: 12px;
  position: relative;
  margin-right: 2rem; }
  .slider-2 {
    -webkit-appearance: none;
    width: 100%;
    height: .5rem;
    background: linear-gradient(90deg, #d6d6d6 60%, #d6d6d6 60%);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: 12px;
    position: relative; }
    .slider-2::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 1.2rem;
      width: 1.2rem;
      background: white;
      border-radius: 50%;
      cursor: pointer; }
    .slider-2::-moz-slider-thumb {
      -webkit-appearance: none;
      height: 4rem;
      width: 4rem;
      background: white;
      border-radius: 50%;
      cursor: pointer; }
  .slider:hover {
    opacity: 1; }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.2rem;
    width: 1.2rem;
    background: white;
    border-radius: 50%;
    cursor: pointer; }
  .slider::-moz-slider-thumb {
    -webkit-appearance: none;
    height: 4rem;
    width: 4rem;
    background: white;
    border-radius: 50%;
    cursor: pointer; }
  .slider::after {
    content: "3.40";
    position: absolute;
    color: #fff;
    bottom: -109%;
    left: 110%; }
    @media screen and (max-width: 723px) {
      .slider::after {
        display: none; } }
  .slider::before {
    content: "0";
    position: absolute;
    color: #fff;
    left: -15%;
    bottom: -109%; }
    @media screen and (max-width: 723px) {
      .slider::before {
        display: none; } }

#value {
  color: transparent; }

.test {
  background-color: red; }
