*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
   
}

body {
    font-family: 'Montserrat', sans-serif;
}

$black-sidebar:#040404;
$background-main:(hsl(0, 0%, 7%));
$background-color-header:rgba(.4,.4,.4,.3);
$background-main:(hsl(0, 0%, 7%));
$font-grey-light:#b3b3b3;