/////////sidebar////////////
.aside {
    color: $font-grey-light;
    display: flex;
    background-color: black;
    flex: 0 0;
    flex-direction: column;
    &__logo {
        display: flex;
        flex: 1;
        align-items: center;

        & img {
            height: 6rem;
            padding-left: 1.4rem;
        }
    }
    &__menu {
        &-list {
            color: #fff;
            font-size: 1.4rem;
            text-transform: capitalize;
            font-weight: 700;
            margin-top: 1rem;
            padding: 0 0.8rem;
            &-items {
                display: flex;
                align-items: center;
                padding: 0 16px;
                margin-bottom: 1rem;
                height: 4rem;
                border-radius: 4px;
            }
        }
    }
    &__playlist {
        padding: 0 0.8rem;
        &-heading {
            padding: 0 16px;
            font-size: 2.4rem;
            font-weight: 700;
            padding: 0 1.6rem;
        }
        &__add {
            display: flex;
            margin: 1rem 0;
            align-items: center;
            padding: 0 1.6rem;
            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                color: #000;
                height: 3.2rem;
                width: 3.2rem;
                background-color: $font-grey-light;
                padding: 0.4rem;
                margin-right: 1.6rem;
            }
            &-title {
                font-size: 1.4rem;
            }
        }
        &-list{
           display: flex;
           flex-direction: column;
           list-style: none;
           
            &-items{
                display: flex;
                margin: 1rem 0;
                padding: 0 1.6rem;
                font-weight: 700;
            }
        }
    }
}

//////////header//////////////
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $background-color-header;
    height: 70px;

    &__btn {
        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1.76px;
        margin-right: 1rem;

        &-button {
            text-decoration: none;
            color: #fff;
            padding: 1.5rem;
            border: 1px solid #fff;
            border-radius: 100px;
        }
    }
}
/////////nav user///////////////
.nav-user {
    display: flex;
    flex: 1 1 5rem;
  
      &__menu{
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $font-grey-light;
        &-items{
         margin-right: 2rem;
         cursor: pointer;
        }
    }
}
//////////music menu////////////
.music-menu {
    display: flex;
    background-color: cadetblue;
    flex: 1 1 100%;
    padding: 1.6rem 3.2rem 0;
}

////////recently played////////
.recently-played {
    display: flex;
    flex-direction: column;

    &__heading {
    }

    &__cards-box {
    }
    &__cards {
    }
}
///////////recently played/////////
.recently-played{
    display: flex;
    color: #fff;
    flex: 1;
   &__heading{
       font-size: 2.4rem;
       font-weight: 700;
       margin: 2rem 0;
   }
   &-author{
       font-size: 1.6rem;
       font-weight: 700;
       text-transform: capitalize;
       
   }
    &__cards{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.4rem;
        padding-right: 3.2rem;
        

        &-box{
            display: flex;
            flex: 1 1;
            
        }
        &-top{
           position: relative;
           height: 20rem;
           cursor: pointer;
           
            &-img{
                height: 20rem;
                width: 202.453px;
               
            }
            &-overlay{
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 6rem;
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              right: 0;
              background-color: rgba(0, 0, 0, 0.3);
              opacity: 0;
              transition: all .2s cubic-bezier(.76,.01,.29,1.01);
            }
            &:hover > &-overlay{
                opacity: 1;
            }
        }
        &-bottom{
          
        }
       
    }
    &-description{
        color: $font-grey-light;
        font-size: 1.4rem;
        font-weight: 700;
    }
}