/////////sidebar////////////
.aside {
    color: $font-grey-light;
    display: flex;
    background-color: #040404;
    flex: 0 0;
    flex-direction: column;

    &-icons{
        height: 2rem;
    }
    &__logo {
        display: flex;
        flex: 1;
        align-items: center;
        padding-top: 1.3rem;
        
        @media screen and (max-width:483px){
            justify-content: center;
            padding-top: 2rem;
         }
        
        & .logo-big {
            height: 6rem;
            padding-left: 1.4rem;
            @media screen and (max-width:483px){
                display: none;
             }
            
        }
        & .logo-small{
            height: 3rem;
            display: none;
            margin-left: .2rem;
            @media screen and (max-width:483px){
                display: block;
                
             }
        }
      
    }
    
    &__menu {

        
        &-list {
            color: $font-grey-light;
            font-size: 1.4rem;
            text-transform: capitalize;
            font-weight: 700;
            margin-top: 1rem;
            
            &-items {
                display: flex;
                align-items: center;
               
                margin-bottom: 1rem;
                height: 4rem;
                border-radius: 4px;
                transition: all .3s ease-in-out;
                cursor: pointer;
                &:hover{
                    color: #fff;
                }
                 &-home{
                    margin-left: 1rem;
                    @media screen and (max-width:483px){
                        display: none;
                     }
                }
                &::before{
                    content: "";
                    height:0%;
                    width: .3rem;
                    background-color: #fff;
                    margin-right: 2.4rem;
                    
                    @media screen and (max-width:483px){
                        margin-right: 1.8rem;
                        
                    }

                }
                &:hover::before{
                    height: 100%;
                    background-color: #1db954;
                }
               
            }
           
           
        }
    }
 .active::before{
        content: "";
        height:100%;
        width: .3rem;
        background-color: #1db954;
        margin-right: 2.4rem;

        @media screen and (max-width:483px){
            margin-right: 1.8rem;
            
        }

    }
    &__playlist {
        font-size: 1.2rem;
        padding: 0 0.8rem;
        &-heading {
            padding: 0 16px;
            font-size: 2.4rem;
            font-weight: 700;
            padding: 0 1.6rem;
            margin-top: 2rem;
                @media screen and (max-width:483px){
            display: none;
         }
       
        }
        &__add {
            display: flex;
            margin: 1rem 0;
            align-items: center;
            padding: 0 1.6rem;
            
            & i{
                transition: all .2s ease-out;
            }
            &:hover i{
               color: #fff;
               transform: scale(1.2);
            }
            @media screen and (max-width:483px){
                display: none;
             }
            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                color: #000;
                height: 3.2rem;
                width: 3.2rem;
                background-color: $font-grey-light;
                padding: 0.4rem;
                margin-right: 1.6rem;
                cursor: pointer;
            }
            &-title {
                font-size: 1.4rem;
                cursor: pointer;
                font-weight: 700;
                cursor: pointer;
            }
        }
        &-list{
           display: flex;
           flex-direction: column;
           list-style: none;
           @media screen and (max-width:483px){
            display: none;
         }
           
            &-items{
                display: flex;
                margin: 1rem 0;
                padding: 0 1.6rem;
                font-weight: 700;
                 cursor: pointer;
               
                 &:hover{
                     color: #fff;
                 }
            }
        }
    }
    &__user{
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
        flex: 1;
        padding: 0 24px;
        position: relative;
        color: $font-grey-light;
        @media screen and (max-width:483px){
            display: none;
         }
        &-install{
            flex: 1;
            display: flex;
            align-items: flex-end;
            border-bottom: 1px solid $font-grey-light;
            padding-bottom: 1rem;
        }
        & i{
            cursor: pointer;
            padding-right: 1.5rem;
            font-size: 1.5rem;

            &:hover{
                color: #fff;
            }
        }
        & p{
            text-align: center;
            font-size: 1.4rem;
            font-weight: 700;
            cursor: pointer;

            &:hover{
                color: #fff;
            }
        }
         &-bottom-icon{
             display: flex;
             align-items: center;

             & p{
                padding-left: 1.5rem;
            }
         }
            
            & img{
            height: 4rem;
            clip-path: circle();
            cursor: pointer;
            
        }
        
    }
}

//////////header//////////////
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba($background-color-header,.2);
    height: 70px;
    cursor: pointer;
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95);
    &:hover{
        background-color:$background-color-header;
    }
    &__btn {
        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1.76px;
        margin-right: 1rem;
        transition: all .2s;
        &:hover{
            transform: scale(1.1);
        }
        &:active{
            transform: scale(1);
        }
        &-button {
            text-decoration: none;
            color: $font-grey-light;
            padding: 1.2rem;
            border: 1.5px solid #fff;
            border-radius: 100px;
            transition: all .2s;
            
            @media screen and (max-width:483px) {
                padding: 1rem;
            }

            &:hover{
                background-color: #1db954;
                border: 1.5px solid #1db954;
                color: #fff;
                transform: scale(2);
            }
            
        }
    }
}
/////////nav user///////////////
.nav-user {
    display: flex;
    flex: 1 1 5rem;
  
      &__menu{
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        list-style: none;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $font-grey-light;
        padding: 2rem 0;
        
        @media screen and (max-width:742px){
            display: none;
        }
        &-items{
         margin-right: 2.5rem;
         cursor: pointer;
         position: relative;
         transition: all .2s;
         
         &::before{
            content: "";
            position: absolute;
            bottom: -30%;
            left: 0;
            height: 2px;
            width: 0%;
            background-color: #1db954;
            display: block;
            transition: all .3s;
           
         }
         &:hover{
             color: #fff;
             transform: scale(1.2);
         }
         &:hover::before{
             width: 100%;
             
         }
         &:active {
             transform: scale(1.1);
         }
        }
    }
}
.active-2::before{
    content: "";
    position: absolute;
    bottom: -30%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #1db954;
    display: block;
    
}
//////////music menu////////////
.music-menu {
    display: flex;
    flex: 0 1 100%;
    padding: 1.6rem 3.2rem 0;
    flex-direction: column;
}



///////////recently played/////////
.recently-played{
    color: #fff;
    
    
    
   &__heading{
       font-size: 2.4rem;
       font-weight: 700;
       margin: 2.4rem 0;

       @media screen and (max-width:483px){
        text-align: center;
    }
   }
   &-author{
       font-size: 1.6rem;
       font-weight: 700;
       text-transform: capitalize;
       
   }
    &__cards{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.4rem;
        padding-right: 3.2rem;
        padding-bottom: 3.9rem;
        
        @media screen and (max-width:483px){
            padding: 3.9rem 0 0 0;

        }

        &-box{
            display: flex;
            flex-wrap: wrap;
           
            @media screen and (max-width:483px){
                justify-content:center;
            }
        }
        &-top{
            display: flex;
           position: relative;
           height: 20rem;
           cursor: pointer;
            
           &-img{
                height: 20rem;
                
                flex: 0 1;
            }
            &-overlay{
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 6rem;
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              right: 0;
              background-color: rgba(0, 0, 0, 0.3);
              opacity: 0;
              transition: all .2s cubic-bezier(.76,.01,.29,1.01);
            }
            &:hover > &-overlay{
                opacity: 1;
            }
        }
        &-bottom{
          padding-top: 1.7rem;
        }
       
    }
    &-description{
        color: $font-grey-light;
        font-size: 1.4rem;
        font-weight: 700;
        padding-top: .9rem;
    }
}
///////scelti per te////////////
.scelti__per-te{
   color: #fff;
   
    
    &__cards{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.4rem;
        padding-right: 3.2rem;
        padding-bottom: 3.9rem;
        
        @media screen and (max-width:483px){
            padding-right:0;
            padding-bottom: 3.9rem;
        }
        &-bottom{
              
            padding-top: 1.7rem;
        }
        
        &-top{
            cursor: pointer;
            position: relative;
            border-radius: 50%;
            color: #fff;
            overflow: hidden;
            &:hover &-overlay{
                opacity: 1;
               
            }
          
           
            &-img{
                height: 20rem;
                border-radius: 50%;
            }
            &-overlay{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 6rem;
                position: absolute;
                width: 100%;
                height: 98%;
                top: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.3);
                opacity: 0;
                transition: all .2s cubic-bezier(.76,.01,.29,1.01);
                border-radius: 50%;
            }
        }
    }
}
////////palayer//////////
.player{
  padding: 0 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
 @media screen and (max-width:376px){
     padding: 0 .5rem;
 } 
  
  &-left{
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    
    &-pic{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        padding-right: 4rem;

        @media screen and (max-width:738px){
          padding-right: 1rem;
        
        }

        & p{
            font-size: 1.3rem;
            color: #fff;
            text-transform: capitalize;
            font-weight: 700;

            @media screen and (max-width:530px){
                font-size: 1rem;
            }
        }
    }

    & img{
        height: 50px;
        width: auto;
        padding-right: 2rem;
        flex: 1 1;
        @media screen and (max-width:463px){
            padding-right: 0rem;
          
          }

        @media screen and (max-width:738px){
           height: 20px;
           padding-right: .9rem;
        }
    }
    &-icons{
        color: #fff;
        font-size: 2rem;
        flex: 1 1;
        @media screen and (max-width:556px){
                flex: 0 1;
         }
         @media screen and (max-width:463px){
            
     }
        & i{
            padding-right: 2rem;
            cursor: pointer;
            font-size: 1.5rem;
            @media screen and (max-width:738px){
                
                padding-right: .2rem;
             }
             @media screen and (max-width:379px){
                
                display: none;
             }
        }
    }
 
  }
  #icon-responsive{
    @media screen and (max-width:556px){
        display: none;
 }
  }
  &-center{
    
     display: flex;
     flex-direction: column;
     align-content: center;
     align-items: center;
     flex: 1 1 auto;
    &__top{
      display: flex;
      font-size: 1.5rem;
      color: #fff;
      flex: 1 1 40%;
      & i{
          cursor: pointer;
          padding-right: 2rem;
       
          @media screen and (max-width:723px){
            
            padding-right: .7rem;
          }
      }
    }

  }

  &-right{
     display: flex;
     flex: 1 1 30%;
     flex-direction: column;
     align-content: flex-start;
     align-items: flex-end;
   
    &__content{
        display: flex;
        flex: 1 1;
    }
    & i{
        font-size: 1.5rem;
        cursor: pointer;
        padding-right: 1.5rem;
        color: #fff;
        display: block;
        
        
      
    }
    &__scroll-bar{
        width: 6rem;
        height: 3px;
        background-color: blue;
        align-self:center;
        
    }
  }
}

.slide-container{
    width: 75%;
    margin-top: 2rem;
    transform: translateX(-3%);
}
.slider{
  -webkit-appearance: none;
  width: 100%;
  height: .5rem;
  background: linear-gradient(90deg, rgb(214,214,214)60%, rgb(214,214,214)60% );
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  border-radius: 12px;
  position: relative;
  margin-right: 2rem;
  &-2{
    -webkit-appearance: none;
    width: 100%;
    height: .5rem;
    background: linear-gradient(90deg, rgb(214,214,214)60%, rgb(214,214,214)60% );
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: 12px;
    position: relative;

    &::-webkit-slider-thumb{
        -webkit-appearance: none;
            height: 1.2rem;
            width: 1.2rem;
            background: white;
            border-radius: 50%;
            cursor: pointer;
       }
       &::-moz-slider-thumb{
        -webkit-appearance: none;
            height: 4rem;
            width: 4rem;
            background: white;
            border-radius: 50%;
            cursor: pointer;
       }
  }

  &:hover{
      opacity: 1;
  }
   &::-webkit-slider-thumb{
    -webkit-appearance: none;
        height: 1.2rem;
        width: 1.2rem;
        background: white;
        border-radius: 50%;
        cursor: pointer;
   }
   &::-moz-slider-thumb{
    -webkit-appearance: none;
        height: 4rem;
        width: 4rem;
        background: white;
        border-radius: 50%;
        cursor: pointer;
   }
   &::after{
       content: "3.40";
       position: absolute;
       color:#fff;
       bottom: -109%;
       left: 110%;

       @media screen and (max-width:723px){
        display: none;
      
      }
      
   }
   &::before{
    content: "0";
    position: absolute;
    color:#fff;
    left: -13.5%;
    bottom: -109%;

    @media screen and (max-width:723px){
        display: none;
      
      }
    
}
   
}
#value{
   display: none;
}
.mobile-margin-bottom{
    margin-bottom: 2.4rem;
}
   

::-webkit-scrollbar {
    width: 13px;
    
  }
  
 
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba($black-sidebar,.8); 
   
  }
   
 
  ::-webkit-scrollbar-thumb {
    background: rgba($font-grey-light,.2); 
    
  }
  
  /* Handle on hover */
  
    