.container-flex{
    display: flex;
    height: calc(100vh - 90px);
    overflow-y: hidden;
}
.container-right{
    display: flex;
    flex: 1 0;
    width: calc(100% - 200px);
    background: radial-gradient(circle, rgba(83,83,83,1) 0%, rgba(33,33,33,1) 100%);
    flex-direction: column;
   
}
.aside-box{
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
   
    background: #040404;
        
      @media screen and (max-width:483px){
        flex: 0 1 60px;
     }
    
}



.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    
}
.player{
    height: 90px;
    background-color: #181818;
    position: fixed;
    bottom: 0;
    width: 100%;
}

